<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sonnar.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sonnar.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="layout-navbar navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/img/sonnar-logo.png" class="layout-logo-sonnar"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>   
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end gap-2">
                    <button class="layout-btn-registro" onclick="location.href='@Url.Action("Index","Registro")'">Registro</button>
                    <button class="layout-btn-login" onclick="location.href='@Url.Action("Index","Login")'">Login</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-2">
        <div class="container text-center text-muted">
            <span><b>SONNAR</b> &copy; 2022, G5 Company. Todos os direitos reservados</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
