@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html {
    font-family: 'DM Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    background: #131B21;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.sonnar-link {
    color: #BA68C8;
    cursor:pointer;
}


.sonnar-link:hover {
    color: #702A7C;
}

.sonnar-card-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFEFE;
    border-radius: 1rem;
    color: rgba(26, 41, 52, 0.7);
}

.form-control:hover {
    box-shadow: 2px 3px 5px #00000005;
}

.form-control:focus {
    border-color: #edbead;
    box-shadow: none;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html,body{
    min-height: 100vh;
}
body {
    margin: 0;
    box-sizing:border-box;
    background: #131B21;
    color: #eee;
}

footer {
    position: absolute;
    bottom: 0;
}

.form-control:hover {
    box-shadow: 0px 1px 3px #5D00FF36
}

.form-control:focus {
    border-color: #7E57C2;
    box-shadow: none;
}


/* Bootstrap Navbar Configuration */

.bd-mode-toggle {
    z-index: 1500;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}

    .btn-toggle:hover,
    .btn-toggle:focus {
        color: rgba(var(--bs-emphasis-color-rgb), .85);
        background-color: var(--bs-tertiary-bg);
    }

    .btn-toggle::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}

    .btn-toggle[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

    .btn-toggle-nav a:hover,
    .btn-toggle-nav a:focus {
        background-color: var(--bs-tertiary-bg);
    }

.scrollarea {
    overflow-y: auto;
}
